<h1>Click on a Department To View Inventory</h1>
<%= link_to 'Create a new Department', new_department_path %>
<ul>
  <% @departments.each do |dep| %>
    <li><%= link_to dep.name, dep %></li>
  <% end %>
</ul>